
.header {
    background-color: white;
    .header_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .header_logo{
            padding-top: 20px;
            .logo_img {
                height: 100px;
            }
        }
        
        .header_nav {
            width: 100%;

            .header_list {
                display: flex;
                flex-direction: column;

                background-color: #f5f5f5;
                .header_list-item {

                    border-top: 3px solid #3D3D3D;

                    &:last-child {
                        border-bottom: 3px solid #3D3D3D;
                    }

                    .header_link {
                        position: relative;

                        text-align: center;
                        padding: 10px 0;
                        display: block;

                        text-decoration: none;
                        font-size: 36px;
                        font-family: "Rubick-medium", "Arial", "sans-serif";
                        letter-spacing: 0.56px;

                        text-transform: uppercase;
                        color: #3D3D3D;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:576px) {

    .active:after {
        content: " ";
        display: block;
        position: relative;
        top: -2px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin: 0 auto;
        
        
        background-color: #FDD000;
    }

    .header {

        .header_content {
            padding: 0 35px;
            height: 150px;

            align-items: center;
            flex-direction: row;
            justify-content: space-between;
    
            .header_logo{
                padding-top: 0;
                .logo_img {
                    height: 80px;
                }
            }
            
            .header_nav {
                width: auto;
    
                .header_list {
                    display: flex;
                    flex-direction: row;
    
                    background-color: #FFFFFF;

                    .header_list-item {
    
                        border-top: none;
                        
                        margin-right: 70px;

                        &:last-child {
                            margin-right: 0;
                            border-bottom: none
                        }
    
                        .header_link {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) {

    .header {

        .header_content {
            padding: 0 110px;
            height: 150px;

            .header_nav {
    
                .header_list {

                    .header_list-item {
                        margin-right: 70px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
