.home {
    background-image: url("https://t0tn8q.sn.files.1drv.com/y4mSg466NwcdJlyz9angsvLifI_f0kMeWQsdAdWp9ZpY6pVkRCp7Ptif5eVODVOGJb_zQGuLUigUoj8rbyZLXzGKhV9xVbBBGpoz7R1BjI5-6449895aCj1SamDqHHzaQt3w_Em0s-dl9zLXdJZvI5EX3wSJ-5qxuw2ZvAiRJWsRub5OCQlgdZ0x8_RabPnalglKIKbwgjp-L4lx4eeIwOUSA/Untitled-1Artboard%201%20copy.jpg?psid=1");

    .home_content{
        display: flex;
        flex-direction: column;
        align-items: center;

        .home_info {
            margin-top: 400px;
            color: #DFDFDF;

            .home_title {

                text-align: center;
                font-family: "Rubick-bold", "Regular", "sans-serif";
                font-size: 40px;
                letter-spacing: 3.5px;
                text-transform: uppercase;
                color: #FDD000;

                text-shadow:#272829 2px 2px 0,#272829 -2px -2px 0,#272829 -2px 2px 0, #272829 2px -2px 0;
            }
    
            .home_text {
                
                text-align: center;
                margin-top: 20px;
                margin-left: 10px;
                margin-right: 10px;

                font-size: 30px;
                letter-spacing: 0.6px;

                text-shadow:#272829 2px 2px 0,#272829 -2px -2px 0,#272829 -2px 2px 0, #272829 2px -2px 0;
            }
        }
        
        .home_calendar {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: #272829;

            .calendar_content {
                padding-top: 30px;
                padding-bottom: 20px;
            }
        }
    }
}

@media screen and (min-width:576px) {

    .home {
        .home_content{
    
            .home_info {

    
                .home_title {
                    font-size: 50px;
                    letter-spacing: 3.5px;
                    text-transform: uppercase;
                }
        
                .home_text {
                    margin-left: 20px;
                   margin-right: 20px;
                }
            }
        }
    }
    

}

@media screen and (min-width:992px) {
    .home {
        background-image: none;

        .home_back {
            top:0;
            z-index: -1;
            position:absolute;
            background: #272829;
            min-height:100vh;
            width:100%;
            background-image: url("https://t0tn8q.sn.files.1drv.com/y4mSg466NwcdJlyz9angsvLifI_f0kMeWQsdAdWp9ZpY6pVkRCp7Ptif5eVODVOGJb_zQGuLUigUoj8rbyZLXzGKhV9xVbBBGpoz7R1BjI5-6449895aCj1SamDqHHzaQt3w_Em0s-dl9zLXdJZvI5EX3wSJ-5qxuw2ZvAiRJWsRub5OCQlgdZ0x8_RabPnalglKIKbwgjp-L4lx4eeIwOUSA/Untitled-1Artboard%201%20copy.jpg?psid=1");
            background-repeat: no-repeat;
        }

        .home_content{
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
    
            .home_info {
                padding-top: 150px;
                margin-top: 0;
                margin-right: 40px;
                max-width: 500px;

                .home_title {
                    text-align: right;
                    text-shadow: none;
                }
        
                .home_text {
                    text-align: right;
                    text-shadow: none;
                }
            }

            .home_calendar {
                padding-top: 100px;
                margin: 0;
                min-width: 470px;
                max-width: 33.33%;
            }
        }
    }
}