@font-face {
    font-family: "Rubick";
    src: url("./Rubik/Rubik-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Rubick-medium";
    src: url("./Rubik/Rubik-Medium.ttf");
}

@font-face {
    font-family: "Rubick-bold";
    src: url("./Rubik/Rubik-Bold.ttf");
}